
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.btn-submit {
    background-color: white;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
}

label, input {
    padding: 10px;
    margin: 10px;
}